Marks your map with spots you find and see spots close to you, list spots you have found
<button ng-click="vm.logout()">Logout</button>
<h3>My Google Maps Demo</h3>
<ui-gmap-google-map center='vm.center' zoom='vm.zoom'>

  <ui-gmap-marker
        idKey='1'
        coords='vm.center'
        click='vm.get()'
        options=''
        events='{expression}'
        control=''
        >
</ui-gmap-marker>

</ui-gmap-google-map>

<form class="col-sm-6 col-sm-offset-3">
  <h3 class="page-header text-center">Mark</h3>

  <div class="form-group">
    <label>Name</label>
    <input ng-model="vm.name">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input ng-model="vm.description">
  </div>

  <div class="form-group">
    <label>Discovered By</label>
    <input ng-model="vm.discovered">
  </div>

  <button ng-click="vm.add()">Submit</button>
</form>

<!-- <button ng-click='vm.get();vm.showModal()'>Rawr</button> -->
<ul>
  <li ng-repeat="spot in vm.databaseLocation">
    <b>name</b>: {{spot.name}}, <b>description</b>: {{spot.description}}, <b>discovered</b>: {{spot.discovered}} |
    <a href="/updateSpot/{{spot._id}}">Edit</a> |
    <a href="/deleteSpot/{{spot._id}}">Delete</a> |
  </li>
</ul>

<div>{{vm.databaseLocation}}</div>
