Marks your map with spots you find and see spots close to you, list spots you have found
<button ng-click="vm.logout()">Logout</button>
<h3>My Google Maps Demo</h3>
<ui-gmap-google-map center='vm.center' zoom='vm.zoom'>
  <ui-gmap-markers
            models='[{latitude: 45.513913, longitude: -122.667031}];'
            idKey='1'

            doCluster="true"
            clusterOptions='{expression}'
            clusterEvents='{expression}'
            type="null"
            typeOptions='{expression}'
            typeEvents='{expression}'
            fit="true"

            coords="vm.center"
            icon="'{string}'"
            labelContent="'{string or expression}'"
            labelAnchor="'{string}'"
            labelClass="'{string}'"
            click="'{string or expression to a function}'"
            modelsbyref="true"

            events="{expression}"

            control='{expression}'
            chunk='{expression}'
            cleanchunk='{expression}'
            doRebuildAll="{string or object}"
            >
    </ui-gmap-markers>

</ui-gmap-google-map>

<form class="col-sm-6 col-sm-offset-3">
  <h3 class="page-header text-center">Mark</h3>

  <div class="form-group">
    <label>Name</label>
    <input ng-model="vm.name">
  </div>

  <div class="form-group">
    <label>Description</label>
    <input ng-model="vm.description">
  </div>

  <div class="form-group">
    <label>Discovered By</label>
    <input ng-model="vm.discovered">
  </div>

  <button ng-click="vm.add()">Submit</button>
</form>

<!-- <button ng-click='vm.get();vm.showModal()'>Rawr</button> -->
<div>{{vm.databaseLocation}}</div>
